<!-- modal for logging in -->
<div class="modalss">


  <div mdbModal #LoginModal="mdbModal" class="modal fade left " tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
 <div class="modal-content">

  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Login</h4>
    <mdb-icon far icon="times-circle"  type="mdb-icon" class="close" data-dismiss="modal" aria-label="Close" (click)="RegisterModal.hide()">
      <span aria-hidden="true">&times;</span>
   </mdb-icon>
  </div>
  
   <div class="Logo text-center ">
     <mdb-icon far icon="user-circle"></mdb-icon>
   </div>
   <div class="modal-body mx-3">
     <div class="md-form">
       <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
       <input mdbInput type="text" id="form2" class="form-control" >
       <label for="form2">Email Address</label>
     </div>

     <div class="md-form mb-4">
       <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
       <input mdbInput type="text" id="form3" class="form-control">
       <label for="form3">Password</label>
 
    
     </div>

   </div>
   <div class="modal-footer d-flex justify-content-center">
         <button mdbBtn class="waves-light buttonlogin-" mdbWavesEffect (click)=LoginBtn()>Login
       <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
     </button>
   </div>
</div>


</div>
</div>








</div>




<!-- For registering user into system -->




