<!-- modal for logging in -->
<div class="modalss">


  <div mdbModal #LoginModal="mdbModal" class="modal fade left " tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Login</h4>
          <mdb-icon far icon="times-circle" type="mdb-icon" class="close" data-dismiss="modal" aria-label="Close"
            (click)="LoginModal.hide()">
            <span aria-hidden="true">&times;</span>
          </mdb-icon>
        </div>


        <div class="modal-body mx-3">



          <div *ngIf="credentialError" class="text text-center text-danger" role="alert">
            Invalid Email or Password
          </div>

          <div class="md-form">
            <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
            <input mdbInput type="text" id="form2" [(ngModel)]="user.email" class="form-control">
            <label for="form2">Email Address</label>
          </div>

          <div class="md-form mb-4">
            <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
            <input mdbInput type="text" id="form3" [(ngModel)]="user.password" class="form-control">
            <label for="form3">Password</label>


          </div>




        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn class="waves-light buttonlogin-" mdbWavesEffect (click)=login()>Login
            <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
          </button>
        </div>
      </div>


    </div>
  </div>








</div>




<!-- For registering user into system -->
